<!-- <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <input formControlName="username" placeholder="Username" />
      </div>
      <div>
        <input type="password" formControlName="password" placeholder="Password" />
      </div>
      <button type="submit">Login</button>
    </form>
    <p *ngIf="error" style="color: red">{{ error }}</p>
  </div> -->
  
  <!-- <div class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
        <div class="input-field">
          <input formControlName="username" placeholder="Username" />
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" formControlName="password" placeholder="Password" />
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>
  </div> -->

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Welcome, User!</h2>
    <p>Please log in</p>
    <input pInputText formControlName="username" placeholder="Username" />
    <input pInputText type="password" formControlName="password" placeholder="Password" />
   <input type="submit" value="login" class="button">

    <div class="links">
      <a href="#">Forgot password</a>
      <a href="#">Register</a>
    </div>
    
  </form>