<p-dialog header="Edit Device" [(visible)]="displayDialog" [modal]="true" [closable]="false" [style]="{width: '400px'}">
    <div *ngIf="selectedDevice">
      <div class="p-field">
        <label for="name">Name</label>
        <input id="name" type="text" pInputText [(ngModel)]="selectedDevice.name" />
      </div>
     
    </div>
    <p-footer>
      <button pButton type="button" label="Save" icon="pi pi-check" (click)="saveDevice()"></button>
      <button pButton type="button" label="Cancel" icon="pi pi-times" (click)="displayDialog = false"></button>
    </p-footer>
  </p-dialog>

<p-table [value]="devices">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device>
        <tr>
            <td>{{ device.id }}</td>
            <td>{{ device.name }}</td>
            <td> <button pButton type="button" label="Edit" icon="pi pi-pencil" (click)="editDevice(device)"></button></td>
        </tr>
    </ng-template>
</p-table>